<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <title></title>
    </head>
    <body>
        <div class="container" style="max-width: 600px" th:fragment="home">
            <div class="py-5 text-center">
                <h2>HOME 화면</h2>
            </div>
            <div class="row">
                <nav>
                    <li>
                        <button class="w-100 btn btn-secondary btn-lg"><a th:href="@{/signup}">회원 가입</a></button>
                        <!-- th:onclick="|location.href='@{/signup}'|">-->
                        <button class="w-100 btn btn-dark btn-lg"><a th:href="@{/login}">로그인</a> </button>
                        <button onclick="logout()">로그아웃</button>
                        <button class="w-100 btn btn-secondary btn-lg"><a th:href="@{/upload}">새 글 쓰기</a> </button>
                    </li>
                </nav>
            </div>
<!--            <th:block th:unless="${loginUser != null}">-->
        </div>
    </body>